In [47]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [48]:
df = pd.read_csv('BenignPositive.csv')
df = df.drop(columns=['Unnamed: 0'])

In [33]:
df.columns

Index(['orgid', 'incidentid', 'alertid', 'detectorid', 'alerttitle',
       'category', 'incidentgrade', 'entitytype', 'evidencerole', 'deviceid',
       'sha256', 'ipaddress', 'url', 'accountsid', 'accountupn',
       'accountobjectid', 'accountname', 'devicename', 'networkmessageid',
       'registrykey', 'registryvaluename', 'registryvaluedata',
       'applicationid', 'applicationname', 'oauthapplicationid', 'filename',
       'folderpath', 'resourceidname', 'osfamily', 'osversion', 'countrycode',
       'state', 'city', 'month', 'year', 'day', 'hour', 'minute'],
      dtype='object')

In [34]:
value_count = {col: df[col].nunique() for col in df.columns}

value_count_df = pd.DataFrame(list(value_count.items()), columns=['Column', 'Unique Values'])
value_count_df_sorted = value_count_df.sort_values(by='Unique Values',ascending=False)

value_count_df_sorted

                Column  Unique Values
2              alertid          34991
1           incidentid          27508
14          accountupn          13950
16         accountname           8326
13          accountsid           7601
15     accountobjectid           7600
18    networkmessageid           7428
4           alerttitle           7336
11           ipaddress           5262
25            filename           3968
17          devicename           3121
12                 url           2706
10              sha256           2621
26          folderpath           2429
9             deviceid           1911
3           detectorid           1626
0                orgid           1072
32                city             96
23     applicationname             72
31               state             66
27      resourceidname             60
37              minute             60
22       applicationid             44
30         countrycode             39
19         registrykey             33
21   registryvaluedata             32
35                 day             30
20   registryvaluename             24
36                hour             24
7           entitytype             21
5             category             17
24  oauthapplicationid             11
29           osversion             10
33               month              5
28            osfamily              4
8         evidencerole              2
34                year              2
6        incidentgrade              1

In [ ]:
alertid	34991
1	incidentid	27508
14	accountupn	13950
16	accountname	8326
13	accountsid	7601
15	accountobjectid	7600
18	networkmessageid	7428
4	alerttitle	7336
11	ipaddress	5262
25	filename	3968
17	devicename	3121
12	url	2706
10	sha256	2621
26	folderpath	2429
9	deviceid	1911
3	detectorid	1626
0	orgid

In [49]:
def reduce_rare_categories(df, column, threshold=20):
  
    top_categories = df[column].value_counts().nlargest(threshold).index
    
    # Replace categories not in the top N with 'Other'
    return df[column].where(df[column].isin(top_categories), 100)

# Apply this function to columns with high cardinality
high_cardinality_columns = ['alertid', 'incidentid', 'accountupn', 'accountname', 'ipaddress','accountsid','accountobjectid','alerttitle','filename','devicename','url','sha256','folderpath','deviceid','detectorid','orgid']  # You can modify this list
for col in high_cardinality_columns:
    df[col] = reduce_rare_categories(df, col, threshold=20)

# Now df contains 'Other' for rare categories
df.head()

,orgid,incidentid,alertid,detectorid,alerttitle,category,incidentgrade,entitytype,evidencerole,deviceid,sha256,ipaddress,url,accountsid,accountupn,accountobjectid,accountname,devicename,networkmessageid,registrykey,registryvaluename,registryvaluedata,applicationid,applicationname,oauthapplicationid,filename,folderpath,resourceidname,osfamily,osversion,countrycode,state,city,month,year,day,hour,minute
0,100,100,100,2,2,1,0,23,1,3031,3947,13445,13,17974,27898,17796,18815,5086,11296,64,33,45,83,121,17,6006,3407,73,3,13,104,369,848,5,1,9,16,39
1,100,100,100,2,2,1,0,23,1,3031,3947,13445,100,17974,27898,17796,18815,5086,11296,64,33,45,83,121,17,6006,3407,73,3,13,104,369,848,5,1,13,23,19
2,100,100,100,100,100,7,0,14,0,3031,3947,13445,4348,17974,100,17796,18815,5086,511,64,33,45,83,121,17,6006,3407,73,3,13,104,369,848,5,1,5,13,39
3,20,100,100,3,4,16,0,19,1,3031,0,13445,4348,17974,27898,17796,18815,5086,11296,64,33,45,83,121,17,0,100,73,3,13,104,369,848,5,1,8,10,21
4,100,100,100,100,100,10,0,2,0,100,3947,13445,4348,17974,27898,17796,18815,100,11296,64,33,45,83,121,17,6006,3407,35,3,13,104,369,848,5,1,11,14,0

In [50]:
df.to_csv('bp.csv')

In [44]:
df['sha256'].value_counts()

sha256
3947     37920
Other     3687
0          368
1          183
3          160
4          123
2          108
6           59
12          48
7           47
9           35
17          35
10          34
19          33
15          33
27          31
11          26
20          26
42          23
31          23
49          22
Name: count, dtype: int64

In [16]:
import pandas as pd

# Assuming df is your dataframe and 'AccountObjectId' is the column
# Get the value counts of 'AccountObjectId'
value_counts = df['orgid'].value_counts()

# Get the top 10 values
top_10_values = value_counts.index[:20]

# Replace all values that are not in the top 10 with 'Other'
df['orgid'] = df['orgid'].apply(lambda x: x if x in top_10_values else 'Other')

# Check the results
print(df['orgid'].value_counts())

orgid
Other    24444
2         2430
3         1929
6         1686
9         1231
12        1176
13        1125
15         936
24         907
20         790
25         768
30         651
28         636
31         634
32         582
33         554
18         552
39         541
42         512
43         491
47         449
Name: count, dtype: int64